snippet hd "header"
  %div{ 'data-role' => 'header' }
endsnippet

snippet ft "footer"
  %div{ 'data-role' => 'footer' }
endsnippet

snippet hdf "header, fixed"
  %div{ 'data-role' => 'header', 'data-position' => 'fixed' }
endsnippet

snippet ftf "footer, fixed"
  %div{ 'data-role' => 'footer', 'data-position' => 'fixed' }
endsnippet
